
POSTGRES_DB=weather_risk
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

AIRFLOW_POSTGRES_DB=airflow
AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=your_airflow_db_password
AIRFLOW_POSTGRES_PORT=5434


PGADMIN_EMAIL=your@email.com
PGADMIN_PASSWORD=your_pgadmin_password
PGADMIN_PORT=5050


AIRFLOW_PORT=8080
AIRFLOW_UID=50000        

STREAMLIT_PORT=8501


OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast